# Virtual environment
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal

# Environment variables / secrets
.env
.env.*

# Static files
staticfiles/
static_root/

# Media uploads
media/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python test / coverage
.pytest_cache/
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/